.layout {
  font-family: 微软雅黑, 'Microsoft YaHei', Arial, 'PingFang SC', -apple-system, 'Lucida Grande', STheiti, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-break: auto;
  hyphens: none;
}

.layout-viewport {
  visibility: hidden;
  z-index: -999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}