.layout-icon {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
}

// @todo 整合注释
// .mark {
//   @extend .icon;
//   padding: 0 3px;
// }