@mixin paragraph-basic {
  text-indent: 2em;
  text-align: justify;
  text-justify: distribute;
  position: relative;
}


@each $size, $map in $paragraph {
  .paragraph-#{$size} {
    @include paragraph-basic;

    font-size: map-get($paragraph-font-size, $size);
    min-height: map-get($paragraph-font-size, $size);

    @each $prop, $value in $map {
      #{$prop}: map-get($map, $prop);
    }
  }
  .paragraph-#{$size}-boundaryless {
    margin-bottom: 0;
    padding-bottom: map-get($map, $key: margin-bottom);
  }
}