@mixin paragraph-basic {
  position: relative;
  text-indent: 2em;
  text-align: justify;
  text-justify: inter-ideograph;
  text-autospace: ideograph-alpha;
  hyphens: auto;
}


@each $size, $map in $paragraph {
  .paragraph-#{$size} {
    @include paragraph-basic;

    font-size: map-get($paragraph-font-size, $size);
    min-height: map-get($map, "line-height");

    @each $prop, $value in $map {
      #{$prop}: map-get($map, $prop);
    }
  }
}